---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
    background-image: url('../assets/symphony.png');
}

.site-header {
  background-color: rgba(0, 0, 0, 0.1); 
  color: white;
}

.site-header a {
  color: white;
}

#profile-pic {
    height: 200px;
    width: 200px;
    border: solid 3px white;
    border-radius: 50%;
    transition: all 2s ease;
    opacity: 0.5;
    float: right;
}

#profile-pic:hover {
    border: solid 3px lightgrey;
    // border-radius: 50%;
    // transform: scale(2.5) rotate(360deg);
    // margin-top: 150px;
    // margin-left: 150px;
    opacity: 1.0;
}

#footer-profile {
    background-image: url('../assets/ReinhardtCagara.jpg');
    height: 80px;
    // width: 100px;
    // border-radius: 5%;

}

