---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
    //background-image: url('../assets/symphony.png');
    background-color: #FAFAFA;
}

.site-header {
  // background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.site-nav {
  float: none;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.site-nav ul {
  margin: auto 0;
  display: inline-block;
  list-style-type: none;
}

.site-footer {
  border: none;
}

.site-footer .wrapper {
  border-top: 1px solid #e8e8e8;
  padding-top: 30px;
}

.text-inline {
    display: inline;
}

.text-center {
    text-align: center;
}

.site-nav .page-link {
    // color: whitesmoke;
    color: black;
    // text-shadow: 0px 1px 30px black;
}

.post-list > li {
    margin-bottom: 10px;
}

#adventure {
    border-radius: 5px;
    max-width: 100%;
}

#profile-pic {
    height: 200px;
    width: 200px;
    border: solid 3px white;
    border-radius: 50%;
    transition: all 2s ease;
    opacity: 0.5;
    float: right;
}

#profile-pic:hover {
    border: solid 3px lightgrey;
    // transform: scale(2.5) rotate(360deg);
    // margin-top: 150px;
    // margin-left: 150px;
    opacity: 1.0;
}

#footer-profile {
    height: 50px;
    border-radius: 50%;
}

#self-reflection {
    max-width: 100%;
    border-radius: 5px;
}

#contact-pic {
    max-width: 100%;
    border-radius: 5px;
}

#projects-pic {
    max-width: 100%;
    border-radius: 5px;
}
